@charset "utf-8";
/* CSS Document Abraham*/
.tabelLengkung {
	margin:0px 0px 10px 0px;
	padding:10px;
	background: #FFFFFF;
	border:2px solid #999999;
	-moz-border-radius-bottomleft:20px;
	-moz-border-radius-bottomright:20px;
	-moz-border-radius-topleft:20px;
	-moz-border-radius-topright:20px;
}
.tombolOK {
 	width:200px;
	font:13pt Trebuchet MS, Verdana, Geneva, Helvetica, Arial, sans-serif;
	padding:0 14px;
	margin-top:18px;
	cursor:pointer;
}

